.order_block{
	flex: 0 1 60%;
   background-color: #fff;
   border-radius: 16px;
	padding: 16px
}
.order_content {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	
}
.order_value {
	width: 100%;
   background-color: #F8F8F8;
   border: 2px solid #E5E5E5;
   padding: 14px 20px;
	margin-top: 15px;
	display: flex;
	gap: 20px;
	align-items: center;
}
.order_title {
	flex: 0 0 35%;
}
.order_info,.order_info  {
	flex: 0 1 auto;
	line-height: 1.5;
}
.order_content_header {
	width: 100%;
	text-align: center;
	font-size: 21px;
	line-height: 32px;
	font-weight: bold
}